HOST=0.0.0.0
PORT=3000
APP_BASE_URL=http://localhost:3000
USE_LIVE_MEM9=false
USE_LIVE_BRIGHTDATA=false
USE_LIVE_TIDB=false
AGNES_CLAW_BASE_URL=
AGNES_CLAW_API_KEY=
MEM9_API_KEY=
MEM9_PROJECT_ID=
TIDB_HOST=
TIDB_PORT=4000
TIDB_DATABASE=
TIDB_USER=
TIDB_PASSWORD=
TIDB_SSL_MODE=REQUIRED
BRIGHTDATA_API_KEY=
BRIGHTDATA_MCP_URL=
